{:deps true
 :builds
 {:repro
  {:js-options {;; don't bundle any npm libs
                :js-provider :import}
   :compiler-options {:infer-externs :auto}
   :target :esm
   :devtools {:enabled false}
   :output-dir "out"
   :modules
   {:main {:init-fn my.repro/init}
    }}}}
